 /*reset css*/
 @font-face {
   font-family: 'Pretendard-Regular';
   src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
   font-weight: 400;
   font-style: normal;
}
@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Medium';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

/*글씨체 설정 및 태그가 가지고 있는 기본 css 속성들을 초기화 합니다*/
* { margin:0; padding:0; box-sizing: border-box;}
ul,ol,li { list-style:none;}
a { text-decoration:none;}
img,video { vertical-align:top;}
table { border-collapse:collapse;}
body { 
   font-family: 'Pretendard-Regular';
   line-height:1; font-size:13px; overflow-x: hidden; text-overflow: ellipsis;}
.clear_fix:after { content:""; display:block; clear:both;}